#show-info {
    display: flex;
    flex-flow: column nowrap;
}

.show-components {
    margin-bottom: 20px;
}

.section-heading {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: -20px;
    justify-content: flex-start;
}

.edit.icon {
    /* border: 1px solid black; */
    margin-left: 10px;
    margin-top: 6px;
    cursor: pointer;
    transition: .2s;
}

.edit.icon:hover {
    color: gray;
    transform: scale(1.1);
}

.upload-trigger {
    cursor: pointer;
}