.venue-card {
    cursor: pointer;
}

.show-details {
    text-align: left;
}

.planning {
    margin-top: 50px;
}

.ui.button {
    margin-top: 50px;
}

.ui.mini.blue.icon.button {
    margin-top: 10px;
}

.all-tour-dates {
    margin-top: 100px;
}

.show-details {
    margin-top: 100px;
}

.ui.checkbox {
    margin-left: 30px;
}

.update {
    margin-top: 100px;
}