.basic-nav {
    width: 100%;
    border: 1px solid black;
}

.dashboard {
    display: flex;
    flex-flow: row nowrap;
}

.navigation {
    /* border: 1px solid black; */
    margin-top: 30px;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
}

.main {
    /* border: 1px solid black; */
    margin-top: 40px;
    min-width: 1000px;
    max-width: 1500px;
}