.tour-link {
    color: white;
}

.tour-link:hover {
    color: white;
}

.artist-link {
    color: white;
}

.artist-link:hover {
    color: white;
}

.create-tour-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.remove {
    cursor: pointer;
}

.update-tour-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}