.ui.inverted.vertical.menu {
    top: 80px;
    min-height: calc(100% - 80px);
    max-height: calc(100% - 80px);
    min-width: 210px;
    max-width: 210px;
}

.ui.inverted.secondary.menu {
    background-color: black !important;
    min-height: 80px;
    max-height: 80px;
    width: 100%;
}

.logo {
    font-family: 'Flamenco', cursive;
    font-size: 40px;
    transition: .2s;
}

.logo:hover {
    transform: scale(1.05);
}

#io {
    color: rgb(255, 101, 191);
}